<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="5.3.0" targetFramework="net452" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Moq" version="4.5.10" targetFramework="net452" />
  <package id="MvvmCross.Core" version="4.2.0" targetFramework="net452" />
  <package id="MvvmCross.Platform" version="4.2.0" targetFramework="net452" />
  <package id="MvvmCross.Tests" version="4.2.0" targetFramework="net452" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net452" />
  <package id="Splat" version="1.6.2" targetFramework="net452" />
</packages>